.jss29 {
  max-width: 100%;
  max-height: 45px;
}

.jss30 {
  height: 100vh;
  display: block;
  background: url("../img/login-bg.jpg") center center/cover no-repeat fixed #232e35;
}

.jss31 {
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (min-width:608px) {
  .jss31 {
    width: 560px;
    margin-left: auto;
    margin-right: auto;
  }
}

.jss32 {
  padding: 16px;
  background-color: rgba(0, 0, 0, 0.87);
}

.jss33 {
  border: 8px solid rgb(1, 169, 130);
  padding: 32px 64px 80px;
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}

.jss34 {
  width: 100%;
  margin-top: 8px;
}

.jss35 {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.jss36 {
  color: #4caf50;
  margin-top: -32px;
}

.jss37 {
  color: rgb(0, 0, 0);
  border: 2px solid rgb(1, 169, 130);
  margin-top: 24px;
}

.jss38 {
  color: rgb(255, 255, 255);
  border: 2px solid rgb(1, 169, 130);
  margin-top: 24px;
  background-color: rgba(0, 0, 0, 0);
}

.jss38:disabled {
  color: rgba(255, 255, 255, 0.36);
}

.jss39 {
  color: #fafafa;
  font-weight: 700;
}

.jss40 {
  color: #fafafa;
}

.jss40:focus {
  color: theme.palette.background.default;
}

.jss41 {
  color: rgba(255, 255, 255);
  background-color: rgba(0, 0, 0, 0);
}

.jss42 {
  color: rgba(255, 255, 255);
  font-size: 1rem;
  margin-top: -1px;
  margin-left: -7px;
  text-transform: none;
  text-decoration: underline;
}

.jss1 {
  display: flex;
}

.jss2 {
  flex: 1;
}

.jss3 {
  padding-right: 24px;
  background-color: rgba(66, 85, 99, .9);
}

.jss4 {
  color: white !important;
}

.jss5 {
  color: rgba(0, 0, 0, 0.54);
  margin: 8px;
}

.jss6 {
  color: rgba(255, 255, 255, 0.54);
}

.jss7 {
  color: rgba(255, 255, 255, 0.54);
  font-weight: 700;
}

.jss8 {
  display: flex;
  padding: 0 8px;
  min-height: 56px;
  align-items: center;
  justify-content: flex-end;
}

@media (min-width:0px) and (orientation: landscape) {
  .jss8 {
    min-height: 48px;
  }
}

@media (min-width:600px) {
  .jss8 {
    min-height: 64px;
  }
}

.jss9 {
  z-index: 1201;
  transition: width 195ms cubic-bezier(0.4, 0, 0.6, 1) 0ms, margin 195ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
}

.jss10 {
  width: calc(100% - 240px);
  transition: width 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms, margin 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
  margin-left: 240px;
}

.jss11 {
  margin-right: 16px;
}

.jss12 {
  display: none;
}

.jss13 {
  width: 1px;
  height: 30px;
  margin: auto 24px;
  display: none;
  background-color: rgba(255, 255, 255, 0.3);
}

@media (max-width:599.95px) {
  .jss13 {
    display: inline-block;
  }
}

.jss14 {
  flex-grow: 1;
  font-size: 1.6rem;
  font-weight: 700;
}

@media (max-width:599.95px) {
  .jss14 {
    font-size: 1.2rem;
  }
}

.jss15 {
  max-width: 100%;
  max-height: 45px;
}

.jss16 {
  width: 240px;
  position: relative;
  transition: width 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
  white-space: nowrap;
  background-color: #425563 !important;
}

.jss17 {
  width: 56px;
  overflow-x: hidden;
  transition: width 195ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
}

@media (min-width:600px) {
  .jss17 {
    width: 60px;
  }
}

@media (max-width:599.95px) {
  .jss17 {
    width: 0;
  }
}

.jss18 {
  min-height: 56px;
}

@media (min-width:0px) and (orientation: landscape) {
  .jss18 {
    min-height: 48px;
  }
}

@media (min-width:600px) {
  .jss18 {
    min-height: 64px;
  }
}

.jss19 {
  height: calc(100vh - 64px);
  display: flex;
  overflow-x: hidden;
  overflow-y: auto;
  flex-direction: column;
}

.jss20 {
  height: 100vh;
  flex-grow: 1;
}

.jss21 {
  position: relative;
}

.jss22 {
  top: 50%;
  right: 8px;
  position: absolute;
}

.jss23 {
  top: 50%;
  left: 76px;
  position: absolute;
  transition: left 225ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
}

@media (max-width:599.95px) {
  .jss23 {
    left: 8px;
  }
}

.jss24 {
  left: calc(8px + 240px);
  transition: left 195ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
}

.jss25 {
  width: 200px;
}

.jss26 {
  margin-right: 8px;
  background-color: #01579b;
}

.jss27 {
  margin: 8px;
  display: flex;
  align-items: center;
  padding-left: 8px;
}

.jss28 {
  font-size: 1rem;
}


.jss278 {
  background-color: #43a047;
}

.jss279 {
  background-color: #d32f2f;
}

.jss280 {
  font-size: 20px;
}

.jss281 {
  opacity: 0.9;
  margin-right: 8px;
}

.jss282 {
  display: flex;
  align-items: center;
}