body {
  margin: 0;
  font-family: "MetricHPE", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* overflow: hidden; */
}

.number {
  font-family: "HPE Simple", Arial, sans-serif !important;
}

form > button {
  margin-top: 10px;
}

a.active {
  position: relative;
}

a.active::after {
  content: '';
  height: 80%;
  width: 4px;
  position: absolute;
  right: -5px;
  top: 10%;
  background-color: #01a982;
}

a.active span,
a.active svg {
  color: #fff !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.react-json-view {
  font-family: 'MetricHPE', Arial, sans-serif !important;
  font-size: 14px;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}